@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.home {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 80vh;
  position: relative;
  background: url(home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
}

.home-top img {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 2%;
  left: 10%;
  mix-blend-mode: screen;
}

.home-top button {
  position: absolute;
  height: 5%;
  width: 5%;
  top: 5%;
  left: 80%;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 8%;
  border: none;
}

.home-top button:hover {
  cursor: pointer;
}

.home-content {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

.home-content > h1 {
  font-size: 50px;
  position: relative;
  right: 20%;
}

#p-1 {
  font-size: 30px;
}

#p-2 {
  font-size: 25px;
  position: relative;
  right: 15%;
}

.home-content form input {
  width: 40%;
  height: 40px;
  background: transparent;
  backdrop-filter: blur(5px);
  border: grey solid;
  text-align: start;
  position: relative;
  right: 10%;
}

.home-content form input::placeholder {
  color: white;
}

.home-content button {
  width: 20%;
  background-color: rgb(241, 24, 24);
  position: relative;
  padding: 15px;
  right: 5%;
  color: white;
}
.border {
  width: 100%;
  background-color: grey;
  height: 10px;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 50px;
}
.text {
  width: 30%;
  padding: 50px;
  color: white;
}
.text h1 {
  font-size: 60px;
}
.text p {
  font-size: 20px;
}

#section2-h1 {
  width: 120%;
}

.fyq {
  display: flex;
  background-color: black;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.fyq h1 {
  font-size: 55px;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background: rgba(128, 128, 128, 0.331);
  padding: 10px 30px 10px 30px;
  font-size: 25px;
  margin: 10px;
}

.box:hover {
  background-color: rgba(128, 128, 128, 0.683);
  cursor: pointer;
}

.fyq-footer {
  padding: 20px;
  font-size: 20px;
}

.fyq-footer form input {
  width: 60%;
  height: 40px;
  background: transparent;
  backdrop-filter: blur(5px);
  border: grey solid;
  text-align: start;
}
.fyq-footer button {
  width: 20%;
  background-color: rgb(241, 24, 24);
  padding: 15px;
  color: white;
}
.footer {
  background-color: black;

  padding: 20px;
}

.footer-content {
  color: rgba(255, 255, 255, 0.565);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-decoration: underline;
}
.footer ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer ul li {
  padding: 0px 10px 0px 10px;
  width: 25%;
}

.footer p {
  margin-right: 71%;
}
.dropdown {
  margin-right: 75%;
}
.dropdown select {
  padding: 10px;
  color: white;
  background-color: rgba(128, 128, 128, 0.453);
  backdrop-filter: blur(50px);
}
